<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - MoEngage</title>
    <link rel="stylesheet" href="/styles/index.css"> <!-- Custom Styles -->
    
</head>
<body>

    <h1>MoEngage</h1>

    <div>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/signup" class="btn btn-secondary">Signup</a>
    </div>

</body>
</html>
